@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> -  BackPack là một website  nhằm mục đích mang đến cho người sử dụng một website mua ba lô trực tuyến  nhanh chóng và tiện lợi.</p>
<p>   BackPack bao gồm nhiều sản phẩm trong và ngoài nước,đảm bảo chất lượng sản phẩm cũng như giá cả.</p>
